:root{
    --primary-bright-red: hsl(12, 88%, 59%);    
    --primary-dark-blue: hsl(228, 39%, 23%);

    --neutral-dark-grayish-blue: hsl(227, 12%, 61%);
    --neutral-very-dark-blue: hsl(233, 12%, 13%);
    --neutral-very-pale-red: hsl(13, 100%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);

    --font: "Be Vietnam Pro", sans-serif;

}

*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
}

body{
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cabeçalho{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.nav-superior{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
}

.nav-superior a{
    font-family: var(--font);
    font-size: 15px;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--neutral-very-dark-blue);
}

.botao-start, .botao-email{
    width: 8rem;
    height: 3rem;
    font-family: var(--font);
    color: var(--neutral-very-light-gray);
    background-color: var(--primary-bright-red);
    border: none;
    border-radius: 2rem;
}

.botao-email{
    width: 4rem;
}

.conteudo-intro, .conteudo-info{
    display: grid;
    grid-template-columns: 500px 500px;
    margin-top: 3rem;
    gap: 2rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
}

.conteudo-intro img{
    width: 30rem;
}

.container-intro{
    width: 22rem;
}

.conteudo-info{
    align-items: flex-start;

}

.container-info{
    width: 23rem;
}

.container-intro h1, .container-info h2, .comentarios h2, .rodape-banner h2{
    font-family: var(--font);
    font-size: 2.5rem;
    color: var(--primary-dark-blue);
}

.container-info h2, .comentarios h2, .rodape-banner h2{
    font-size: 2rem;
}

.item-topico h4, .card-user h4{
    font-family: var(--font);
    font-size: 16px;
    color: var(--primary-dark-blue);
    margin-bottom: 1rem;
}

.container-intro p, .container-info p, .item-topico p, .card-user p{
    font-family: var(--font);
    color: var(--neutral-dark-grayish-blue);
    font-size: 16px;
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.container-intro button{
    margin-top: 2rem;
}

.container-topicos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
}

.container-topicos span{
    background-color: var(--primary-bright-red);
    border-radius: 1rem;
    width: 4rem;
    color: var(--neutral-very-light-gray);
    font-family: var(--font);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-topico{
    width: 25rem;
    text-align: justify;
}

.carrossel{
    width: 1096px;
    overflow-x: auto;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.card-user{
    background-color: var(--neutral-very-light-gray);
    width: 30rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.card-user img{
    width: 4rem;
    position: relative;
    margin-top: -2rem;
}

.card-user h4{
    margin-top: 1.5rem;
}

.card-user p{
    text-align: center;
    margin: 0 2.5rem 0 2.5rem;
    width: 26rem;
}

.comentarios{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12rem;
    margin-top: 5rem;
}

.comentarios button{
    margin-top: 3rem;
}

.rodape-banner{
    height: 10rem;
    background-color: var(--primary-bright-red);
    background-image: url(/images/bg-simplify-section-desktop-footer.svg);
    display: flex;
    justify-content: center;
    gap: 36rem;
    align-items: center;
}

.rodape-banner h2{
    color: var(--neutral-very-light-gray);
    width: 25rem;
}

.rodape-banner button{
    background-color: var(--neutral-very-light-gray);
    color: var(--primary-bright-red);
}

.rodape{
    height: 12rem;
    background-color: var(--neutral-very-dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rodape-menu{
    width: 30rem;
    display: grid;
    grid-template-columns: 10rem 10rem;
    height: 9rem;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
}

.rodape-menu a{
    color: var(--neutral-very-light-gray);
    text-decoration: none;
    font-family: var(--font);
    font-size: 13px;

}

.logo-icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    justify-content: space-evenly;
}



.logo-icones a{
    margin-right: .5rem;
    
}

.rodape-email{
    width: 20rem;
}

.rodape-email input{
    height: 2.5rem;
    width: 12rem;
    border-radius: 1.5rem;
    border: none;
    text-align: center;
    font-family: var(--font);
    margin-right: .5rem;
}




