:root{
    --primary-bright-red: hsl(12, 88%, 59%);    
    --primary-dark-blue: hsl(228, 39%, 23%);

    --neutral-dark-grayish-blue: hsl(227, 12%, 61%);
    --neutral-very-dark-blue: hsl(233, 12%, 13%);
    --neutral-very-pale-red: hsl(13, 100%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);

    --font: "Be Vietnam Pro", sans-serif;

}

*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}



main{
    display: flex;
    justify-content: center;
}





.cabeçalho{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13rem;
    justify-content: center;
}

.nav-superior{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
}

.nav-superior a{
    font-family: var(--font);
    font-size: 15px;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--neutral-very-dark-blue);
}

.botao-start{
    width: 8rem;
    height: 3rem;
    font-family: var(--font);
    color: var(--neutral-very-light-gray);
    background-color: var(--primary-bright-red);
    border: none;
    border-radius: 2rem;
}


.conteudo-intro, .conteudo-info{
    display: grid;
    grid-template-columns: 500px 500px;
    margin-top: 3rem;
    gap: 2rem;
    margin-top: 6rem;
    align-items: center;
}

.conteudo-intro img{
    width: 30rem;
}

.container-intro{
    width: 22rem;
}

.conteudo-info{
    align-items: flex-start;

}
.container-info{
    width: 23rem;
}

h1, h2{
    font-family: var(--font);
    font-size: 2.5rem;
    color: var(--primary-dark-blue);
    margin-bottom: 2rem;
}

h2{
    font-size: 2rem;
}

h4{
    font-family: var(--font);
    font-size: 16px;
    color: var(--primary-dark-blue);
    margin-bottom: 1rem;
}

p{
    font-family: var(--font);
    color: var(--neutral-dark-grayish-blue);
    font-size: 16px;
    line-height: 1.5rem;
}

span{
    background-color: var(--primary-bright-red);
    border-radius: 1rem;
    width: 4rem;
    color: var(--neutral-very-light-gray);
    font-family: var(--font);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-intro button{
    margin-top: 2rem;
}


.container-topicos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
}

.item-topico{
    width: 25rem;
    text-align: justify;
}
    
.conteudo{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
}

.comentarios{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;

}

.comentarios h2{
    text-align: center;
    margin-top: 3rem; 
}

.comentarios button{
    margin-top: 3rem;
}

.carrossel{
    width: 1096px;
    overflow-x: auto;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card-user{
    background-color: var(--neutral-very-light-gray);
    width: 30rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.card-user img{
    width: 4rem;
    position: relative;
    margin-top: -2rem;
}

.card-user h4{
    margin-top: 1.5rem;
}

.card-user p{
    color: var(--neutral-dark-grayish-blue);
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    margin: 0 2.5rem 0 2.5rem;
    width: 26rem;
}

.topo-rodape{
    height: 10rem;
    background-color: var(--primary-bright-red);
}

.topo-rodape button{
    background-color: var(--neutral-very-light-gray);
    color: var(--primary-bright-red);
}



